/node_modules
/public/yandex_b2651419ec0b7057.html
/public/build
/public/hot
/public/storage
/storage/*.key
/*.zip
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
