ody {
    /*margin: 2em;*/
}

@font-face {
    font-family: corpid;
    src: url(/fonts/corpid2.woff);
}

.corpid{
    font-family: corpid;
}

.form-group label{
    font-weight: bold;
}

.top-links{
    margin: .5em;
}

.body-text{
    max-width: 40em;
    max-height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
}
